/*
    Ndot Wallpaper Maker用のCSSファイル
*/

/* ページ全体のスタイル */
/* フォントにfontフォルダ内にあるNdot77JPExtendedv1.1.4.ttfを使用 */
@font-face {
    font-family: 'Ndot77JPExtendedv1.1.4';
    src: url('../fonts/Ndot77JPExtendedv1.1.4.ttf') format('truetype');
}

body {
    font-family: 'Ndot77JPExtendedv1.1.4', sans-serif;
    margin: 0;
    padding: 0;
}
/*端末のダークテーマ・ライトテーマによって背景色を変更*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: #fff;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #e4e4e4;
        color: #000;
    }
}
/* 全体で太字や斜体にならないようにする */
body {
    font-weight: normal;
    font-style: normal;
}

/*太字解除*/
h1, h2, h3, h4, h5, h6, p, a, li, dt, dd, th, td, input, textarea, button {
    font-weight: normal;
}

/*左右の余白をモバイルとデスクトップ兼用に設定*/
/* モバイル */
@media (max-width: 767px) {
    h1, h2, h3, h4, h5, h6, p, a, li, dt, dd, th, td, input, textarea, button {
        margin: 20px;
    }
}
/* デスクトップ */
@media (min-width: 768px) {
    h1, h2, h3, h4, h5, h6, p, a, li, dt, dd, th, td, input, textarea, button{
        margin: 30px;
    }
}

/*ボタンのスタイル*/
button {
    background-color: #444444;
    color: #e4e4e4;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    font-family: 'Ndot77JPExtendedv1.1.4', sans-serif;
}
button:hover {
    background-color: #d7181f;
    color: #fff;
}

/*入力部分のスタイル*/
input[type="text"], input[type="number"], textarea {
    border: 1px solid #181818;
    border-radius: 20px;
    padding: 5px;
    background-color:#e4e4e4 ;
    font-family: 'Ndot77JPExtendedv1.1.4', sans-serif;
}

/*ラジオボタンのスタイル*/
input[type="radio"]:checked {
    background-color: #d7181f;
    color: #fff;
    border: none;
}

/*カラーピッカーのスタイル*/
input[type="color"] {
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #e4e4e4;
    font-family: 'Ndot77JPExtendedv1.1.4', sans-serif;
}